.codeflask {
    background: #1e1e1e;
    color: #9cdcfe;

    .token.punctuation {
        color: #4a4a4a;
    }

    .token.keyword {
        color: #8500ff;
    }

    .token.operator {
        color: #ff5598;
    }

    .token.string {
        color: #41ad8f;
    }

    .token.comment {
        color: #6a9955;
    }

    .token.function {
        color: #d7ba7d;
    }

    .token.boolean {
        color: #8500ff;
    }

    .token.number {
        color: #8500ff;
    }

    .token.selector {
        color: #8500ff;
    }

    .token.property {
        color: #8500ff;
    }

    .token.tag {
        color: #8500ff;
    }

    .token.attr-value {
        color: #8500ff;
    }
}

.codeflask__textarea {
    caret-color: #fff;
    color: #1e1e1e !important;
}
