@import "variaveis";

.codeflask {
	background: #fff;
	color: #000;
	font-size: 80px !important;
}

.codeflask__flatten {
	font-size: 17px !important;
}

.codeflask__lines {
	font-size: 17px !important;
	z-index: 100 !important;
}

.codeflask.codeflask--has-line-numbers:before {
	z-index: 100 !important;
}

.codeflask .token.punctuation {
	color: #4a4a4a;
}

.codeflask .token.keyword {
	color: $dl-azul-cinza-5;
}

.codeflask .token.operator {
	color: #ff287e;
}

.codeflask .token.string {
	color: #41ad8f;
}

.codeflask .token.comment {
	color: #9badb7;
}

.codeflask .token.function {
	color: $dl-azul-cinza-5;
}

.codeflask .token.boolean {
	color: $dl-azul-cinza-5;
}

.codeflask .token.number {
	color: $dl-azul-cinza-5;
}

.codeflask .token.selector {
	color: $dl-azul-cinza-5;
}

.codeflask .token.property {
	color: $dl-azul-cinza-5;
}

.codeflask .token.tag {
	color: $dl-azul-cinza-5;
}

.codeflask .token.attr-value {
	color: $dl-azul-cinza-5;
}
